<div class="mb-3">
  <label for="filterText" class="form-label">Model Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-success">
  {{ filterText }} aradınız.
</div>
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models | filterPipe:filterText" >
      <th scope="row">2</th>
      <td> {{ model.Name | lowercase }} </td>
      <td>  {{ model.Id | vatAdded: 10 | currency }}</td>
      <td><button (click)="addToCart(model)" type="button" class="btn btn-success">Sepete Ekle</button></td>
    </tr>
   
  </tbody>
</table>
